<form action="" method="post">
  
  <label for="title">Title</label><span style="color: red; font-size: 20px; ">*</span><br>
  <input class="input" type="text" placeholder="Title" name="title" value="<?php echo $_POST['title'] ?? $current->title ?? '' ?>" required><br>

  <label for="artist">Artist Name</label><span style="color: red; font-size: 20px; ">*</span><br>
  <input class="input" type="text" placeholder="artist" name="artist_name" value="<?php echo $_POST['artist_name'] ?? $current->artist_name ?? '' ?>" required><br>

  <label for="year">Year</label><span style="color: red; font-size: 20px; ">*</span><br>
  <input class="input" type="date" placeholder="year" name="year" value="<?php echo $_POST['year'] ?? $current->year ??'' ?>" required><br>

  <label for="size">Size</label><span style="color: red; font-size: 20px; ">*</span><br>
  <input class="input" type="text" placeholder="Size" name="size" value="<?php echo $_POST['size'] ?? $current->size ??'' ?>" required><br>

  <label for="id">Warehouse number</label><span style="color: red; font-size: 20px; ">*</span><br>
  <input class="input" type="text" placeholder="Warehouse number" name="id_warehouse" value="<?php echo $_POST['id_warehouse'] ?? $current->id_warehouse ??'' ?>" required><br>

  <button class="button">Ajouter</button>
</form>