<h1>List of Artworks</h1>
<table style="border: 1px solid black">
  <tr style="border: 1px solid rgb(160 160 160)">
    <th scope="col" style="border: 1px solid rgb(160 160 160)">N°</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Name</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Warehouse Name</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Year</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Artist</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Size</th>

  </tr>
  <?php foreach($artworks as $artwork ){?>
  <tr>
    <th scope="row" style="border: 1px solid rgb(160 160 160)">
      <?php echo $artwork->id_artwork ?>
    </th>
    <td style="border: 1px solid rgb(160 160 160)">
      <?php echo $artwork->title ?> 
    </td>
    <td style="border: 1px solid rgb(160 160 160)">
      <a href="<?php echo Manager\Config::URL.'warehouse/edit/'.$artwork->id_warehouse ;?>"> <?php if(isset($artwork->id_warehouse)) echo $artwork->name; else echo 'Not defined';  ?> </a>
    </td>
    <td style="border: 1px solid rgb(160 160 160)">
       <?php echo $artwork->year ?> 
    </td>
    <td style="border: 1px solid rgb(160 160 160)">
      <?php echo $artwork->artist_name ?> 
   </td>
   <td style="border: 1px solid rgb(160 160 160)">
    <?php echo $artwork->size ?> 
   </td>

    <td style="border: 1px solid rgb(160 160 160)">
      <a href="<?php echo Manager\Config::URL.'artwork/edit/'.$artwork->id_artwork ; ?>">Edit</a>
    </td>
    <td style="border: 1px solid rgb(160 160 160)">
      <a href="<?php echo Manager\Config::URL.'artwork/delete/'.$artwork->id_artwork ; ?>">Delete</a>
    </td>
  </tr>

<?php } ?>
</table>
<br><br>
<h1> List of Warehouses</h1>
<table style="border: 1px solid black">
  <tr style="border: 1px solid rgb(160 160 160)">
    <th scope="col" style="border: 1px solid rgb(160 160 160)">N°</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Name</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Address</th>
  </tr>
  <?php foreach($warehouses as $warehouse ){?>
  <tr>
    <th scope="row" style="border: 1px solid rgb(160 160 160)">
      <?php echo $warehouse->id_warehouse ?>
    </th>
    <td style="border: 1px solid rgb(160 160 160)">
      <?php echo $warehouse->name ?> 
    </td>
    <td style="border: 1px solid rgb(160 160 160)">
      <?php echo $warehouse->adress ?> 
    </td>

    <td style="border: 1px solid rgb(160 160 160)">
      <a href="<?php echo Manager\Config::URL.'warehouse/edit/'.$warehouse->id_warehouse ; ?>">Edit</a>
    </td>
    <td style="border: 1px solid rgb(160 160 160)">
      <a href="<?php echo Manager\Config::URL.'warehouse/delete/'.$warehouse->id_warehouse ; ?>">Delete</a>
    </td>
  </tr>

<?php } ?>
</table>
