<h1> List of Warehouses</h1>
<table style="border: 1px solid black">
  <tr style="border: 1px solid rgb(160 160 160)">
    <th scope="col" style="border: 1px solid rgb(160 160 160)">N°</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Warehouse Name</th>
    <th scope="col" style="border: 1px solid rgb(160 160 160)">Address</th>
  </tr>
  <?php foreach($warehouses as $warehouse ){?>
  <tr>
    <th scope="row" style="border: 1px solid rgb(160 160 160)">
      <?php echo $warehouse->id_warehouse ?>
    </th>
    <td style="border: 1px solid rgb(160 160 160)">
      <?php echo $warehouse->name ?> 
    </td>
    <td style="border: 1px solid rgb(160 160 160)">
      <?php echo $warehouse->adress ?> 
    </td>

    <td style="border: 1px solid rgb(160 160 160)">
      <a href="<?php echo Manager\Config::URL.'warehouse/edit/'.$warehouse->id_warehouse ; ?>">Edit</a>
    </td>
    <td style="border: 1px solid rgb(160 160 160)">
      <a href="<?php echo Manager\Config::URL.'warehouse/delete/'.$warehouse->id_warehouse ; ?>">Delete</a>
    </td>
  </tr>

<?php } ?>
</table>
